<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.tid.broadcastWakeup"
      android:versionCode="1"
      android:versionName="1.0">
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".ejemplo5_broadcastWakeup"
                  android:label="@string/app_name">
     <!--       <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter> --> 
        </activity>
        <receiver android:name="BroadcastWakeup" android:enabled="true">
        <intent-filter>
        	<action android:name="com.tid.ejemplo51.broadcast_1"></action>
        </intent-filter>
        
        </receiver>

    </application>
</manifest>