<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.tid.Ejemplo73_manifest" android:versionCode="1"
	android:versionName="1.0">
	<uses-sdk android:minSdkVersion="8" />

	<application android:icon="@drawable/icon" android:label="@string/app_name">
		<activity android:name=".Ejemplo73_manifestActivity"
			android:label="@string/app_name" android:noHistory="true"
			android:theme="@android:style/Theme.Dialog">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name="Activity_imagen">
			<intent-filter>
				<action android:name="android.intent.action.SEND" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="image/*" />
			</intent-filter>
		</activity>
		<!-- http://developer.android.com/reference/android/content/Intent.html -->
		<!-- http://developer.android.com/guide/topics/manifest/intent-filter-element.html -->
		

	</application>
</manifest>